body {
    background-image: url('cute.jpeg');
    margin:0;
    overflow: hidden;
 }

header {
    width:100%;
    background-color: black;
    color:white;
    padding:20px;
}
form#myForm {
    width:100%;
    padding:30px;
    text-align: center;
    border:0px solid black;
    position: relative;
    left: 20px;
    margin-left:-20px;
   
}
h1 {
    text-indent:50px;
    text-decoration:  underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

input#leftNumber {
    border: 1px solid black;
    border-right: none;
    width: 115px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 150px;
    padding: 10px 0px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    color:white;


 }
input#rightNumber {
    border: 1px solid black;
    border-left:none;
    right: 4px;
    width: 115px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 150px;
     padding: 10px 0px;
    z-index: 1;
     background-color: rgb(0, 0, 0);
     color:white;

}

form p {
    display:inline;
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
   
}
p {
    cursor: pointer;
    display:inline;
 }

body::after {
    content: url('stockPhone1.png');
    top:25%;
    left:0;
    bottom:0;
    right:250px;
     width:300px;
     background-repeat: no-repeat;
    position:fixed;
     margin:auto;
    z-index:-1;
     
   }
   #floatingBackContainer {
    width: 100%;
    height: 430px;
     position: fixed;
     display: inline-block;
     bottom: 139px;
     right: 14px;
     z-index: -1;
 
   }
  .floatingBackground {
    position: relative;
    background-image: linear-gradient(to right,yellow,pink); 
    width: 235px;
    border-radius: 25px;
    height: 484px;
    left: 49px;
    margin: auto;
    border: 1px solid yellow;
  }

 /* Stretch goals below */

 p#plusBtn {
    position: relative;
    top: 139px;
    left: 157px;
    padding: 9px 16px;
    font-size: 20px;


 }
 p#minusBtn {
    position: relative;
    top: 199px;
    left: 108px;
    padding: 9px 19px;
    font-size: 20px;

 }
 p#multiplyBtn {
    position: relative;
    top: 260px;
    padding: 9px 17px;
    left: 58px;
    font-size: 20px;

}

  p#divideBtn {
    position: relative;
    top: 84px;
    border: 1px solid black;
    left: 8px;
    border-radius: 5px;
    padding: 9px 18px;
    font-size: 20px;
    z-index:2;
 }
 #equalBtn {
    position: relative;
    padding: 8px 18px;
    top: 321px;
    cursor:pointer;
    right: 45px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
 }
 #clearBtn {
    width: 164px;
    height: 40px;
    margin-right: -4px;
    font-size: 20px;
    cursor:pointer;
    z-index:1;
 }
  
 #theClear {
    width: 100%;
     position: relative;
     bottom: 280px;
     text-align: center;
 }
 
 #past {
    display: inline-block;
    left: 42px;
    bottom: 400px;
    text-shadow:3px 0px 5px white,
    0px 3px 5px white,
    -3px 0px 5px white,
    0px -3px 5px white;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 
 }
 #pastCalculationsContainer {
      position: relative;
     bottom:600px;
     left:100px;
     z-index:-1;
     overflow: scroll;
     }
 #pastCalculations {
    top: -430px;
    left: 58px;
     position: relative;
     overflow: scroll;
 
    
 }
 #pastCalculationsAdd {
    position: relative;
     left: 31px;
    z-index:-1;
    display: inline;
    overflow: scroll;
    text-shadow:3px 0px 5px white,
    0px 3px 5px white,
    -3px 0px 5px white,
    0px -3px 5px white;

 }
 #pastCalculationsAdd  li{
     width:200px;
     overflow: scroll;
    z-index:-1;
    border:1px solid black;
text-align: center;
    border-radius: 25px 50%;
    background-image: linear-gradient(to left,rgb(94, 152, 177),transparent);
 position: relative;
 bottom:50px;
 right:50px;
 }
 #inputContainer {
     width: 200px;
    margin: auto;
    position: relative;
    top: 150px;
    padding: 15px;
 

 }
 #currentAnswerContainer {
    display: inline;
    position: absolute;
    left: 34px;
    top: 26px;
    width: 100%;
 }
 #theAnswerText {
    position: absolute;
    border: 1px solid transparent;
    width: 100%;
    top: 4px;
    right: 72px;
    font-style: italic;
 }
 #hSixContainer {
     position: relative;
    width: 120%;
    height: 400px;
    right: 13px;
    bottom: 37px;

 }
 #hSixContainer h6 {
    padding:10px 13px;
    width:15px;
    border:1px solid black;
    position: absolute;
    background-image: linear-gradient(rgb(199, 147, 156),rgb(170, 170, 5));
    color: white;
    font-size:20px;
    cursor: pointer;
    text-shadow:0px 0px 3px black;
  }
 .h6One {
    top: 220px;
    left: 4px;
 }
 .h6Two {
    top: 220px;
    left: 64px;
 }
 .h6Three {
    top: 220px;
    left: 124px;
 }
 .h6Four {
    top: 160px;
    left: 4px;
  } 
 .h6Five {
    top: 160px;
    left: 64px;
  }
 .h6Six {
    top: 160px;
    left: 124px;
  } 
 .h6Seven {
     top: 100px;
    left: 4px;
 }
 .h6Eight {
    top: 100px;
    left: 64px;
  } 
 .h6Nine {
    top: 100px;
    left: 124px;
  }
 .h6Zero {
    top: 280px;
    width: 75px !important;
    left: 4px;
  }
 .h6Period {
    top: 280px;
    left: 124px;
  }

  #ppp {
    position: relative;
    bottom: 294px;
    left: 30px;  }
.arrows {
    position: fixed;
    font-size: 23px;
    color: white;
    margin-top: 152px;
    margin-left: -14px;
    z-index: 3;
}
#ppp > p:hover, #equalBtn:hover, #hSixContainer > h6:hover, #clearBtn:hover {
     box-shadow:0px 0px 5px black;
 }
#ppp > p:active, #equalBtn:active, #clearBtn:active {
    background-color: black;
    color:cyan;
    box-shadow:0px 0px 8px lightgrey;

    
}

 
@media only screen and (max-width: 600px) {
     form#myForm {
        margin-left:5px;
     }
     .floatingBackground {
        margin-left:155px;
     }
     #theClear {
        margin-left:26px;
     }
  }

  @media only screen and (max-width:700px) {
    #pastCalculationsContainer {
        left:30px;
    }
    
  }